<div>
  <h1>Login App Example</h1>
  <p>
    This Login App example has been created using a Node JS Backend with Express REST API and Ampersand JS with Bootstrap on the Frontend, served by Webpack.
  </p>
</div>
