<div class="col-md-4 col-md-offset-4" style="margin-top: 15%">
  <form class="well well-lg" id="form">
    <div data-hook="message-container"></div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Username: </span>
        <input type="text" data-hook="username" name="username" class="form-control" placeholder="...">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Password: </span>
        <input type="password" data-hook="password" name="password" class="form-control" placeholder="...">
      </div>
    </div>
    <button type="button" name="button" data-hook="submit" class="btn btn-default btn-block">Log In!</button>
  </form>
</div>
