<div class="alert alert-warning" role="alert" data-hook="remove-message">
  <a href="#" data-hook="remove-user">Click here</a>, if you want to permanently remove the account {{user.username}}.
</div>
