<div class="col-md-4 col-md-offset-4" style="margin-top: 15%">
  <div class="well well-lg">
    <div data-hook="message-container"></div>
    <p>To sign up, just fill out this form.</p>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Username: </span>
        <input type="text" class="form-control" data-hook="username" name="username" placeholder="example123">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">E-mail: </span>
        <input type="text" class="form-control" data-hook="email" name="email" placeholder="example@email.com">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Password: </span>
        <input type="password" class="form-control" data-hook="password" name="password" placeholder="*********">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">And again: </span>
        <input type="password" class="form-control" data-hook="password2" name="password2" placeholder="*********">
      </div>
    </div>
    <button type="button" name="button" data-hook="submit" class="btn btn-default btn-block">Sign Up!</button>
  </div>
</div>
