<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>E-mail</th>
      <th>Access Token</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ model.username }}</td>
      <td>{{ model.email }}</td>
      <td>{{ model.token }}</td>
    </tr>
  </tbody>
</table>
